<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:property-placeholder location="classpath:config/druid.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          p:driverClassName="${druid.driverClassName}"
          p:url="${druid.url}"
          p:username="${druid.username}"
          p:password="${druid.password}"
          p:initialSize="${druid.initialSize}"
          p:minIdle="${druid.minIdle}"
          p:maxActive="${druid.maxActive}"
          p:maxWait="${druid.maxWait}"
          p:timeBetweenEvictionRunsMillis="${druid.timeBetweenEvictionRunsMillis}"
          p:minEvictableIdleTimeMillis="${druid.minEvictableIdleTimeMillis}"
          p:validationQuery="${druid.validationQuery}"
          p:testWhileIdle="${druid.testWhileIdle}"
          p:testOnBorrow="${druid.testOnBorrow}"
          p:testOnReturn="${druid.testOnReturn}"
          p:poolPreparedStatements="${druid.poolPreparedStatements}"
          p:maxPoolPreparedStatementPerConnectionSize="${druid.maxPoolPreparedStatementPerConnectionSize}"
          p:filters="${druid.filters.commons-log.connection-logger-name}"
          p:connectionProperties="${druid.connectionProperties}"
          p:useGlobalDataSourceStat="${druid.useGlobalDataSourceStat}"/>


</beans>