<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.scw.manager.dao.TAccountTypeCertMapper">

    <resultMap id="accountTypeCertMap" type="com.smart.scw.manager.bean.TAccountTypeCert">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="accttypeid" jdbcType="INTEGER" property="accttypeid"/>
        <result column="certid" jdbcType="INTEGER" property="certid"/>
    </resultMap>

    <select id="selectAll" resultMap="accountTypeCertMap">
        SELECT * FROM t_account_type_cert
    </select>

</mapper>