<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.scw.manager.dao.TCertMapper">

    <resultMap id="certMap" type="com.smart.scw.manager.bean.TCert">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectAll" resultMap="certMap">
        SELECT * FROM t_cert
    </select>

    <select id="selectCertByAccountTypeId" resultMap="certMap">
        SELECT c.id,
               c.name
        FROM t_cert c
        LEFT JOIN t_account_type_cert tatc
        ON c.id = tatc.certid
        WHERE tatc.accttypeid=#{atId}
    </select>

</mapper>