<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.scw.manager.dao.TRolePermissionMapper">

    <resultMap id="rolePermissionMap" type="com.smart.scw.manager.bean.TRolePermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="roleid" jdbcType="INTEGER" property="roleid"/>
        <result column="permissionid" jdbcType="INTEGER" property="permissionid"/>
    </resultMap>

    <delete id="deletePermissionByRoleId">
        DELETE FROM t_role_permission
        WHERE roleid=#{rid}
    </delete>

    <insert id="insertRoleAndPermission">
        INSERT INTO t_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            roleid,permissionid,
        </trim>
        VALUES
        <foreach collection="pids" item="pid" separator=",">
            (
            #{rid},#{pid}
            )
        </foreach>
    </insert>

</mapper>